.popUp{
    position: fixed;
    top: 35vh;
    left: 40%;
    z-index: 4;
}

.popUpContainer{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd300;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,200,0.5);

}
.popUpContainer input {
    width: 200px;
    height: 25px;
    margin-bottom: 20px;
}
.button{
    width: 120px;
    height: 25px;
    border-radius: 15px;
    background: #bab1b1;
    margin-bottom: 10px;
}
.button:hover{
    border: 1px solid #bab1b1;
    background: transparent;
}
